body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    /* Evita el scroll horizontal */
  }

  .video-container {
    width: 100vw;
    /* Ancho completo de la pantalla */
    height: auto;
    /* Altura ajustada automáticamente */
    overflow: hidden;
    position: relative;
  }

  .video-background {
    width: 100%;
    /* Ancho completo del contenedor */
    height: auto;
    /* Mantiene la relación de aspecto del video */
    position: relative;
  }

  .imgButton {
    width: 30px;
    height: 30px;
    /* centrar vertical y horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
  }

  .my-float {
    margin-top: 22px;
  }